:root{
    --naranja: hsl(31, 77%, 52%);
    --light-verde: hsl(184, 100%, 22%);
    --verde: hsl(179, 100%, 13%);
}
body{
    font-family: 'Lexend Deca', 'Big Shoulders Display', serif;


}
.container{
    height: 700px;
    width: 70vw;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 15vh auto 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.item{
    padding: 50px;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.5;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item1{
    background-color: var(--naranja);
}
.item2{
    background-color: var(--light-verde);
}
.item3{
    background-color: var(--verde);
}
.default-title{
    color: white;
    text-transform: uppercase;
    margin-top: 40px;
    
}
.default-text{
    color: white;
    
    opacity: 0.9;
}
.icons{
    width: 80px;
}

.default-button{
    margin-top: 50px;
    height: 55px;
    width: 170px;
    background-color: white;
    font-size: 1.3rem;
    font-weight: bolder;
    border-radius: 30px;
    border: 0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 4px;
}
.default-button:active{
    border: white 1px solid;
    color: white;
    cursor: pointer;
}
.buttonNaranja{
    color: var(--naranja);

}
.buttonNaranja:active{
    background-color: var(--naranja);
}
.buttonLightVerde{
    color: var(--light-verde);
}
.buttonLightVerde:active{
    background-color: var(--light-verde);
}
.buttonVerde{
    color: var(--verde);
}
.buttonVerde:active{
    background-color: var(--verde);
}
@media(max-width:768px){
    /*Para tablets y telefonos*/

    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: fit-content;
    }
    .item{
        height: 550px;
    }
}
@media(min-width:768px) and (max-width:1350px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: fit-content;
    }
    .item{
        height: 350px;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        align-items: center;
        padding-left: 10px;
        height: fit-content;
        font-size: 1.2rem;
    }
    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

    }
    .icons{
        height: 50px;
    }
}